// 1. Culori de background
$primary: #d20a0a;
$success: #28a745;
$dark: #1a1a1a;
$secondary: #6c757d;

// 2. Culori de font
$body-color: #333333;
$btn-primary-color: #ffffff;

// 3. Breakpoints (Custom)
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 850px,
  lg: 1150px,
  xl: 1200px
);

// 4. Border Radius și Grosime (Adăugate conform cerinței)
$border-radius: 15px;
$border-radius-sm: 10px;
$btn-border-radius: 12px;
$border-width: 2px;
$btn-border-width: $border-width;

// 5. Headings
$h1-font-size: 2.8rem;
$h2-font-size: 2rem;

// 6. Font
$font-family-sans-serif: 'Verdana', sans-serif;

// 7. Spațiere butoane
$btn-padding-y: 0.75rem;

// --- CUSTOMIZARE RANGE INPUT ---
// Dimensiune bulină (1.5rem este cu 50% mai mare decât 1rem - mărimea de bază)
$form-range-thumb-width: 1.5rem;
$form-range-thumb-height: 1.5rem;
// Culoare bulină și slider
$form-range-thumb-bg: $primary;
$form-range-track-bg: #e9ecef;

// IMPORTUL BOOTSTRAP
@import "../../node_modules/bootstrap/scss/bootstrap";

/* Corectare Bootstrap */
main {
  display: grid !important;
}