<footer>
    <div class="footer-coloane">
        <div class="footer-contact">
            <h3>Contact Rapid</h3>
            <address>
                <p> Telefon: <a href="tel:+40754640492">0754 640 492</a></p>
                <p> E-mail: <a href="mailto:suport@finalround.ro">suport@finalround.ro</a></p>
                <p> Chat: <a href="https://wa.me/40754640492">WhatsApp Support</a></p>
                <p> Locatie: Strada Academiei nr. 14, Bucuresti</p>
            </address>
        </div>

        <div class="footer-linkuri">
            <h3>Link-uri Utile</h3>
            <ul>
                <li><a href="#inceput_pagina">Inapoi la inceputul paginii</a></li>
                <li><a href="/produse">Catalog Produse</a></li>
                <li><a href="/contact">Despre Noi & Contact</a></li>
            </ul>
        </div>

        <div class="footer-harta">
            <h3>Gaseste-ne</h3>
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8444390740924!2d26.09706341552399!3d44.435535579102425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff4711812831%3A0xc0ce7e3e4a233b00!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sen!2sro!4v1680000000000!5m2!1sen!2sro" 
                width="180" 
                height="180" 
                style="border: 2px solid var(--culoare-text); border-radius: 5px;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
    
    <div class="footer-copyright">
        <p class="banner-print">Acesta este un proiect scolar!</p>
        <p>
           <small>Copyright © <time datetime="2026-03-02">2 martie 2026</time> Ionita Rares - Proiect Tehnici Web</small>
        </p>
    </div>
</footer>

<a href="#inceput_pagina" class="buton-top" title="Revino la începutul paginii">
    <span class="sageata-top">🠹</span>
</a>