<header id="inceput_pagina">
    <div class="header-stanga">
        <a href="/resurse/imagini/sigla_mare.png" class="logo-link">
            <img src="/resurse/imagini/sigla.png" alt="Sigla FinalRound" title="Sigla magazinului">
        </a>
        <h1>FinalRound</h1>
    </div>
    
    <nav class="meniu-principal">
        <input type="checkbox" id="hamburger-toggle" class="hamburger-checkbox">
        <label for="hamburger-toggle" class="hamburger-label">
            <i class="fa-solid fa-bars"></i>
        </label>

        <ul class="meniu-lista">
            <li class="meniu-item acasa-item">
                <a href="/"><i class="fa-solid fa-house"></i> <span class="text-meniu">Acasă</span></a>
            </li>
            
            <li class="meniu-item cu-submeniu">
                <a href="/#bine-ati-venit"><i class="fa-solid fa-star"></i> <span class="text-meniu">Pagina Curentă</span></a>
                <ul class="submeniu">
                    <li><a href="/#oferte-curente">Oferte Curente</a></li>
                    <li><a href="/#statistici">Statistici</a></li>
                    <li><a href="/#evenimente">Evenimente</a></li>
                </ul>
            </li>

            <li class="meniu-item cu-submeniu">
                <a href="/produse"><i class="fa-solid fa-box-open"></i> <span class="text-meniu">Categorii</span></a>
                <ul class="submeniu">
                    <li><a href="/produse#manusi">Mănuși Box/MMA</a></li>
                    <li><a href="/produse#tibiere">Tibiere & Protecții</a></li>
                    <li><a href="/produse#haine">Îmbrăcăminte</a></li>
                </ul>
            </li>

            <li class="meniu-item">
                <a href="/despre"><i class="fa-solid fa-circle-info"></i> <span class="text-meniu">Despre</span></a>
            </li>

            <li class="meniu-item">
                <a href="/contact"><i class="fa-solid fa-envelope"></i> <span class="text-meniu">Contact</span></a>
            </li>
        </ul>
    </nav>
</header>